body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #403f3d;
    background-color: beige;
   
}

h1 {
    text-align: center;
}

table {

    border-width: 4px;
    border-style: solid;
    border-color: slategray;
    width: 600px;
    margin: 0 auto;

}

thead {

    background-color: lightseagreen;
    color: beige;
}

td {

    border-color: lightseagreen;
    border-top: 1px solid;
    
}

.code {

    font-family: monospace;
    color: #403f3d;
    background-color: #fafa70;
}

h6 {

    text-align: center;
}